/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.add {
  margin: 5px;
}

ion-row {
    background-color: #5990e9 !important;
    color: white;
    padding: 10px;
  }
  
  .timeline {
    white-space: nowrap;
    background-color: #d3d3d3af;
    overflow: auto;
  }

  .timline-years::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 100px;
    height: 50px;
    transform: translateY(-50%);
    background: #e95990;
    color: black;
    font-size: 14px;
  }
  
  .timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s;
    display: inline-block;
  }
  
  .timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 205px;
    height: 5px;
    background: #90e959;
  }
  
  .timeline ol li:last-child {
    width: 280px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: 14px;
  }
  
  .timeline ol li:not(:last-child)::after {
    content: 'abc123';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #F45B69;
  }
  
  .timeline ol li div {
    position: absolute;
    left: calc(100% + 0px);
    width: 250px;
    height: auto;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border: 1px solid #ccc;
  }
  
  .timeline ol li:nth-child(odd) div {
    top: -30px;
    transform: translateY(-100%);
  }
  
  .timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 10px 7px 22px 0px;
    border-color: white;
  }
  
  .timeline ol li:nth-child(even) div {
    top: calc(100% + 30px);
  }
  
  .timeline ol li:nth-child(even) div::before {
    top: -31px;
    border-width: 31px 0 0 6px;
    border-color: #5990e9;
  }
  
  .timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }

  // add new timeline h1
  .timeline ol li h1 {
    position: absolute;
    text-align: center;
   left:  calc(100% - 18px);
    width: 50px;
    height: auto;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .timeline ol li h1::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border: 1px solid #ccc;
  }
  
  .timeline ol li:nth-child(odd) h1 {
    top: 30px;
    transform: translateY(-100%);
  }
  
  /* .timeline ol li:nth-child(odd) h1::before {
    top: 100%;
    border-width: 10px 7px 22px 0px;
    border-color: white;
  } */
  
  .timeline ol li:nth-child(even) h1 {
    top: calc(100% - 30px);
  }
  
 /*  .timeline ol li:nth-child(even) h1::before {
    top: 31px;
    border-width: 31px 0 0 6px;
    border-color: #5990e9;
  } */

  // end add timeline h1  
  /* .timeline-year {
    text-align: center;
	 max-width: 100px;
   font-size: 1.8rem;
	 background-color: #333;
	 line-height: 1;
	 border-image: none;
   padding: 0.5rem 1rem 1rem;
   margin: 0px 0 0 -110px;
   top: 50%;
  } */

  @media screen and (min-width: 700px) {
    .timeline-year {
      text-align: center;
      margin: 0 auto;
   }
    .timeline-year:nth-of-type(2n) {
      float: none;
      margin: 0 auto;
      border-image: none;
   }
    .timeline-year:nth-of-type(2n):before {
      display: none;
   }
 }
  
  
  
  //**************
  
  
  
  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 599px) {
    .timeline ol,
    .timeline ol li {
      width: auto; 
    }
    
    .timeline ol {
      padding: 0;
      transform: none !important;
    }
    
    .timeline ol li {
      display: block;
      height: auto;
      background: transparent;
    }
    
    .timeline ol li:first-child {
      margin-top: 25px;
    }
    
    .timeline ol li:not(:first-child) {
      margin-left: auto;
    }
    
    .timeline ol li div {
      width: 94%;
      height: auto !important;
      margin: 0 auto 25px;
    }
    
    .timeline ol li div {
      position: static;
    }
    
    .timeline ol li:nth-child(odd) div {
      transform: none;
    }
    
    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border: none;
      border-left: 1px solid white;
      height: 25px;
    }
    
    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
      display: none;
    }

    .add {
      width: 62px;
      height: 25px;
    }

    ion-title {
      text-align: center !important;
    }
  }

  //************************
.timeline ul {
  display: none;
}

  @media screen and (max-width: 900px) {
    .timeline ul {
      display: block;
    }
    .timeline ul li div {
      width: 250px;
      background-color: white;
      color: black;
      font-size: 14px;
    }

    .timeline ul li h1 {
      color: black;
      font-size: 16px;
    }

    .timeline ul {
      color: #e95990;
    }

    .timeline ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }
  
  @media screen and (max-width: 600px) {
    .timeline ol {
      display: none;
    }
    .timeline ul {
      padding: 0px;
      margin: 0 0 0 15px;
    }

    .timeline ul li h1 {
      font-size: 18px;
      margin: 0px 0px 10px 12px;
    }
    .timeline ul li {
      margin-left: 5px;
      position: relative;
    //display: inline-block;
    list-style-type: none;
    width: 5px;
    height: 150px;
    background: #90e959;
    }

    .timeline ul li:not(:last-child)::after {
      content: '';
      position: absolute;
      //top: %;
      //left: calc(100% + 1px);
      bottom: 0;
      width: 12px;
      height: 12px;
      transform: translateY(-50%);
      border-radius: 50%;
      background: #F45B69;
      margin: 0px 0px 0px -3.5px;
    }

    .timeline ul li div {
      width: calc(100vw - 75px);
      margin: 0px 0 0 12px;
    }
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #F45B69 transparent transparent;
    }
  }
