<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Đăng nhập</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <h2 class="auth-title">
    Chào mừng!
    <br/>
    Mạng gia đình của bạn!
  </h2>

  <div class="social-auth-options">
    <ion-button class="social-auth-btn facebook-auth-btn" expand="block" color="facebook" (click)="doFacebookLogin()">Đăng nhập với facebook</ion-button>
  </div>
</ion-content>