<ion-header color="primary">
  <ion-toolbar>
    <ion-grid class="padding-none">
      <ion-row class="padding-none">
        <ion-col size="3" class="justify-content-center padding-none">
          <button class="button-custom">
              <ion-icon class="ion-custom" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </button>
        </ion-col>
        <ion-col size="3" class="padding-none">
          <button class="button-custom">
              <ion-icon class="ion-custom" name="heart-empty"></ion-icon>
              <ion-row class="justify-content-center">Thích</ion-row>
          </button>
        </ion-col>
        <ion-col size="3" class="padding-none">
          <button class="button-custom">
              <ion-icon class="ion-custom" ios="ios-share" md="md-share"></ion-icon>
              <ion-row class="justify-content-center">Chia sẻ</ion-row>
          </button>
        </ion-col>
        <ion-col size="3" class="padding-none">
          <button class="button-custom">
              <ion-icon class="ion-custom" ios="ios-create" md="md-create"></ion-icon>
              <ion-row class="justify-content-center">Sửa</ion-row>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="justify-content-center">
      <h3>Tên</h3>
    </ion-row>
    <ion-row class="justify-content-center">
      <ion-text>Ngày tháng diễn ra sự kiện</ion-text>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-card-header style="background-color: rgb(7, 83, 94) !important; color: white;"></ion-card-header>
          <ion-card-content>
            <ion-text>
                Sự kiện diễn ra
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header style="padding: 0px !important;">
            <ion-row>
              <ion-col size="1.5" class="col-custom">
                <ion-icon class="ion-custom" ios="ios-information-circle" md="md-information-circle"></ion-icon>
              </ion-col>
              <ion-col size="10.5" class="col-header">
                <ion-text>Thêm thông tin</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-text>Địa chỉ</ion-text>
              <ion-icon class="ion-custom" ios="ios-create" md="md-create"></ion-icon>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-card-header style="background-color: rgb(7, 83, 94) !important; color: white;" class="justify-content-center">
            <ion-text>Thêm</ion-text>
          </ion-card-header>
          <ion-card-content style="color: rgb(7, 83, 94);">
            <ion-row>
              <ion-col size="6">
                <ion-row>
                  <ion-col size="4" class="border-color justify-content-center">
                    <ion-icon class="ion-custom icon-item" ios="ios-images" md="md-images"></ion-icon>
                  </ion-col>
                  <ion-col size="8">
                    <ion-text>Hình ảnh</ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="6">
                <ion-row>
                  <ion-col size="4" class="border-color">
                    <ion-icon class="ion-custom icon-item" ios="ios-camera" md="md-camera"></ion-icon>
                  </ion-col>
                  <ion-col size="8">
                    <ion-text>Video</ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-row>
                  <ion-col size="4" class="border-color">
                    <ion-icon class="ion-custom icon-item" ios="ios-quote" md="md-quote"></ion-icon>
                  </ion-col>
                  <ion-col size="8">
                    <ion-text>Từ ngữ</ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="6">
                <ion-row>
                  <ion-col size="4" class="border-color">
                    <ion-icon class="ion-custom icon-item" ios="ios-paper" md="md-paper"></ion-icon>
                  </ion-col>
                  <ion-col size="8">
                    <ion-text>Tài liệu</ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header style="padding: 0px !important;">
            <ion-row>
              <ion-col size="1.5" class="col-custom">
                <ion-icon class="ion-custom" ios="ios-pin" md="md-pin"></ion-icon>
              </ion-col>
              <ion-col size="8.5" class="col-header">
                <ion-text>Thêm vị trí</ion-text>
              </ion-col>
              <ion-col size="2" class="col-header">
                <ion-icon class="ion-custom" ios="ios-create" md="md-create"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-card-header style="padding: 0px !important;">
            <ion-row>
              <ion-col size="1.5" class="col-custom">
                <ion-icon class="ion-custom" ios="ios-people" md="md-people"></ion-icon>
              </ion-col>
              <ion-col size="8.5" class="col-header">
                <ion-text>
                  Các thành viên khác
                </ion-text>
              </ion-col>
              <ion-col size="2" class="col-header">
                <ion-icon class="ion-custom" ios="ios-create" md="md-create"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              Thêm thành viên gia đình, để sự kiện này hiển thị trên dòng thời gian của họ
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-row>
            <ion-text>Được thêm bởi - tên người thêm -</ion-text>
          </ion-row>
          <ion-datetime></ion-datetime>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
